@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  background-color: lightcyan;
  max-width: 38rem;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.register {
  display: none;
  justify-content: center;
  align-items: center;
} 

.si-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  gap: 12px;
}

.r-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  gap: 12px; 
}

.si-r-buttoncontainer {
  display: flex;
  gap: 15px;
}

h1 {
  letter-spacing: 2px;
  color: pink;
  font-family: sans-serif;
}

.rbutton {
  height: 25px;
  width: 80px;
  border-radius: 5px;
  background-color: pink;
  border: none;
  margin-top: 10px;
  color: white;
}

.sibutton {
  height: 25px;
  width: 80px;
  border-radius: 5px;
  background-color: pink;
  color: white;
  border:none;
  margin-top: 10px;
}

.sibutton,
.rbutton {
  font-family: sans-serif;
  font-weight: ;
  letter-spacing: 1px;
  font-size: 12px;
}

.sibutton:hover,
.rbutton:hover{
  cursor: pointer;
  background-color: lightpink;
  transform: scale(1.1);
}

.r-buttonplace,
.si-buttonplace {
  border-style: none;
  border-radius: 3px;
}

input {
  padding: 5px;

}

.r-buttonplace:focus,
.si-buttonplace {
  outline: none;
}

.fa-rectangle-xmark {
  color: pink;
}
.fa-rectangle-xmark:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: lightpink;
}
.submit-button {
  border:none;
  background-color: pink;
  border-radius: 3px;
  color: white;
  font-family: sans-serif;
  height: 25px;
  width: 80px;
}
.submit-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

